# HTID:2936948: DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES BELOW
php_value display_errors 1
# DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES ABOVE HTID:2936948:

ErrorDocument 404 /storage/ssd3/673/3015673/err/404/command-prompt/404.html